
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@keyframes efecto_envios {
  0% {
    opacity: 1;
  }
  25%{
    opacity: 1;
  }
  50%{
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

h1 {
  font-family: $fuente-titulos;
  font-size: 50px;
  text-align: center;
}

.enviosGratis {
  background-color: #766aaa;
  text-align: center;
  font-size: 1.4rem;

  p {
    color: black;
  animation-name: efecto_envios;
  animation-iteration-count: infinite;
  animation-duration: 0.9s;
    span {
      font-weight: bold;
      color: black;
    }
  }
}
.logo {
  height: 10rem;
  width: 10rem;
  background-color: #bae9eb;
}
.precio {
  text-align: right;
  font-weight: bold;
  font-size: 200%;
}
