@media (max-width: 1700px) {
  .ofertas {
    width: 100%;
  }
  .libros {
    width: 100%;
  }
  .agendas {
    width: 100%;
  }
  .libreria {
    width: 100%;
    .libreria_foto {
      width: 100%;
      height: 100%;
    }
  }
}
@media (max-width: 1200px) {
  .ofertas {
    width: 100%;
  }
  .agendas {
    width: 100%;
  }
  .libros {
    width: 100%;
  }
}

@media (max-width: 570px) {
  /* MEDIA GLOBALS */
  h1 {
    font-size: 200%;
  }
  /* MEDIA DE INDEX */
  .ofertas__texto {
    font-size: 100%;
  }
  .precio {
    font-size: 130%;
  }
  .ofertas {
    width: 100%;
    height: 100%;
  }
  /* MEDIA DE LIBROS */
  .libros {
    width: 100%;
    height: 100%;
  }
  .libros-sinopsis {
    font-size: 90%;
  }
  .libros-1 {
    width: 100%;
    height: 400px;
  }
  /* MEDIA DE NOSOTROS */
  .libreria {
    width: 100%;
    .libreria_acomodar {
      grid-template-columns: 1fr;
      grid-template-areas:
        "caja1 "
        "caja2"
        "caja4"
        "caja3 ";
    }
    .libreria_foto {
      width: 100%;
      height: 100%;
    }
  }
  .contacto {
    .contacto_info {
      font-size: 150%;
    }
  }
  .mapa {
    height: 100%;
    width: 100%;
    .mapa_1 {
      height: 100%;
      width: 100%;
    }
  }
}
@media (max-width: 410px) {
  .ofertas__texto {
    font-size: 100%;
  }
  .precio {
    font-size: 100%;
  }

  .libreria {
    .libreria_texto {
      font-size: 100%;
    }
    .libreria_foto {
      width: 100%;
      height: 100%;
    }
    .libreria_texto1 {
      font-size: 100%;
    }
    .libreria_foto1 {
      width: 100%;
      height: 100%;
    }
  }
  .contacto {
    .contacto_info {
      font-size: 150%;
    }
  }
  .mapa {
    height: 100%;
    width: 100%;
    .mapa_1 {
      height: 100%;
      width: 100%;
    }
  }
}
